<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="id3"><span v-if="msg">cccccc</span></div>
<div id="id1">{{name}}</div>
<div id="id2">
<span v-bind:data="msg">0</span></div>
<div id="a3">
	<span v-for="todo in todos">
		{{todo.text}}<br>
	</span>
</div>
<div id="a4">
	<span>{{msg}}</span>
	<input  v-model="msg">
</div>


<div id="a8">
	{{a}}
</div>
<div id="a9">
	<button v-on="n+=1">add 1</button>
	<p> this is {{n}}</p>
</div>

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		var a9=new Vue({
			el:'#a9',
			data:{
			    n:0
			}
		});


		var data={a:1};
		var vm =new Vue({
			el:'#a8',
			data:data,
		});

//        console.log(vm.a == data.a);
	vm.a=56;



		var a1=new Vue({
			el:"#id2",
			data:{
				msg:"xxxx"+new Date().toLocaleString()
			}
		})


		var a2=new Vue({
			el:'#id3',
			data:{
				msg:true,
			}
		})

		var  a3=new Vue({
			el:"#a3",
			data:{
				todos:[
				{text:'chi'},
				{text:'he'},

				]
			}
		})
		// Vue 还提供了 v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定。

		var a4=new Vue({
			el:'#a4',
			data:{
				msg:'i am a4',
			}
		})
	</script>

</body>
<script>
	var obj={}
	var vm ={}
	vm.name=18
//	给vm添加一个name属性
	Object.defineProperty(vm,'name',{set:function (v) {
            console.log('执行赋值引发的');
            console.log(v);
        },
	get:function () {
        console.log('i wll be get');
    }
	})
</script>
</html>